body {
    font-family: "Times New Roman", Georgia, Serif;;
    min-width: 400px;
    margin: 0;
    color: #000000;
    background-color: #FFF;
}

p {
    font-size: 15px;
}

div.scrollmenu { 
    position: fixed;
    left: 0;
    top: 0;
    background-color: #F8FAFC;
    overflow: auto; 
    white-space: nowrap; 
    max-width: 400px;
    width: 100%;
}

div.scrollmenu a { 
    display: inline-block; 
    color: #28293C;
    font-weight: 400;
    text-align: center; 
    padding: 14px; 
    text-decoration: none; 
    font-size: 15px;
}

div.scrollmenu a:hover { 
    background-color: #ADBBDA;
    color: white;
}

hr {
    border: 1px solid #E7EAEE;
}

footer {
   left: 0;
   bottom: 0;
   text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D9E0FF; 
  border-radius: 10px;
}
